:root {
    /*  Accent colors       */
    --gruv-dark-red:     #cc241d;
│   --gruv-red:          #fb4934;
│   --gruv-dark-green:   #98971a;
│   --gruv-green:        #b8bb26;
│   --gruv-dark-yellow:  #d79921;
│   --gruv-yellow:       #fabd2f;
│   --gruv-dark-blue:    #458588;
│   --gruv-blue:         #83a598;
│   --gruv-dark-magenta: #b16286;
│   --gruv-magenta:      #d3869b;
│   --gruv-dark-cyan:    #689d6a;
│   --gruv-cyan:         #8ec07c;
│   --gruv-dark-gray:    #3d3d3d;
│   --gruv-gray:         #666666;
    /*  Dark colors   */
    --bg:           #282828;
    --bg0_h:        #1d2021;
    --bg0_s:        #32302f;
    --bg1:          #3c3836;
    --bg2:          #504945;
    --bg3:          #665c54;
    --bg4:          #7c6f64;
    /*  Light colors   */
    --fg:           #ebdbb2;
    --fg0:          #fbf1c7;
    --fg1:          #ebdbb2;
    --fg2:          #d5c4a1;
    --fg3:          #bdae93;
    --fg4:          #a89984;
}



body {
}

.me {
}

.main {
}
h1 {
  color: #8ec07c;
}

h2 {
  color: #cc241d;
}

h3 {
  color: #b8bb26;
}

h5 {
  color: #fabd2f;
}

b {
  color: #fb4934;
}

.gruv-dark {
  background-color: var(--bg0_s);
  color: var(--fg);
}

.navbar {
  border-bottom: 2px dotted var(--fg);
}

.navbar-dark .navbar-nav .nav-link {
  /*    color: #ebdbb2; */
  color: var(--gruv-cyan);
  text-decoration: underline;
  text-decoration-color: #b8bb26;
}
a {
  /*    color: #ebdbb2; */
  color: #8ec07c;
  text-decoration: underline;
  text-decoration-color: #b8bb26;
}

ul.navbar-nav a:hover {
  color: #fabd2f !important;
}

.footer {
  border-top: 2px dotted var(--fg);
}

.credit {
  color: var(--fg4);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  align-items: center;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fbf1c7;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #1d2021;
  transition: 0.4s;
  border-radius: 50%;
}

input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

input[type="checkbox"]:checked + .slider {
  background-color: #282828;
}

input[type="checkbox"]:checked + .slider:before {
  transform: translateX(26px);
}
