body {
}

.me {
}

.main {
}

b {
  color: #fb4934;
}

li::marker {
  color: var(--gruv-magenta);
}

.gruv-dark {
  background-color: var(--bg0_s);
  color: var(--fg);
}

.navbar {
  border-bottom: 2px dotted var(--fg);
}

.navbar-dark .navbar-nav .nav-link {
  /*    color: #ebdbb2; */
  color: var(--gruv-cyan);
  text-decoration: underline;
  text-decoration-color: #b8bb26;
}

.footer {
  border-top: 2px dotted var(--fg);
}

.credit {
  color: var(--fg4);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  align-items: center;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fbf1c7;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #1d2021;
  transition: 0.4s;
  border-radius: 50%;
}

input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

input[type="checkbox"]:checked + .slider {
  background-color: #282828;
}

input[type="checkbox"]:checked + .slider:before {
  transform: translateX(26px);
}
