::selection {
  color: #1d2021;
  background-color: #ebdbb2;
}

body,
html {
  background-color: #1d2021;
  color: #ebdbb2;
}

a:hover {
  color: #689d6a;
  text-decoration-color: #427b58;
}

.navbar {
  background-color: #32302f;
}

.navbar-dark .navbar-toggler-icon {
  background-color: #ebdbb2;
  border-radius: 6px;
}

.info img {
  border: 2px dotted #fbf1c7;
  background-color: #665c54;
}
