::selection {
  color: #1d2021;
  background-color: #ebdbb2;
}

body,
html {
  background-color: #1d2021;
  color: #ebdbb2;
}

.navbar {
  background-color: #32302f;
}

.info img {
  border: 2px dotted #fbf1c7;
}
