:root {
  /* Accent colors */
  --gruv-dark-red: #cc241d;
  --gruv-red: #fb4934;
  --gruv-dark-green: #98971a;
  --gruv-green: #b8bb26;
  --gruv-dark-yellow: #d79921;
  --gruv-yellow: #fabd2f;
  --gruv-dark-blue: #458588;
  --gruv-blue: #83a598;
  --gruv-dark-magenta: #b16286;
  --gruv-magenta: #d3869b;
  --gruv-dark-cyan: #689d6a;
  --gruv-cyan: #8ec07c;
  --gruv-dark-gray: #3d3d3d;
  --gruv-gray: #666666;
  /* Light colors */
  --bg: #ebdbb2;
  --bg0_h: #fbf1c7;
  --bg0_s: #ebdbb2;
  --bg1: #d5c4a1;
  --bg2: #bdae93;
  --bg3: #a89984;
  --bg4: #928374;
  /* Dark colors */
  --fg: #282828;
  --fg0: #1d2021;
  --fg1: #32302f;
  --fg2: #504945;
  --fg3: #665c54;
  --fg4: #7c6f64;
}

body,
html {
  background-color: --var(--bg0_h);
  color: #3c3836;
}
::selection {
  background-color: #1d2021;
  color: #ebdbb2;
}

h1 {
  color: #b16286;
}

p {
}

a {
  color: #427b58;
  text-decoration-color: #79740e;
}

a:hover {
  color: #689d6a;
}

.navbar {
  background-color: --var(--bg0_h);
  color: #1d2021;
}

.navbar-dark .navbar-toggler-icon {
  background-color: #282828;
  border-radius: 6px;
}

.navbar a {
  color: #8ec07c;
  text-decoration: underline;
  text-decoration-color: #b8bb26;
}
.footer a {
  color: #8ec07c;
  text-decoration: underline;
  text-decoration-color: #b8bb26;
}

.info img {
  border: 2px dotted #32302f;
  background-color: #bdae93;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fbf1c7;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ebdbb2;
  transition: 0.4s;
  border-radius: 50%;
}

input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

input[type="checkbox"]:checked + .slider {
  background-color: #282828;
}

input[type="checkbox"]:checked + .slider:before {
  transform: translateX(26px);
}
