body,
html {
  background-color: #fbf1c7;
  color: #3c3836;
}
::selection {
  background-color: #1d2021;
  color: #ebdbb2;
}

h1 {
  color: #d3869b;
}

p {
}

.navbar {
  background-color: #32302f;
  color: #1d2021;
}

.nav-link {
}

.info img {
  border: 2px dotted #32302f;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fbf1c7;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ebdbb2;
  transition: 0.4s;
  border-radius: 50%;
}

input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

input[type="checkbox"]:checked + .slider {
  background-color: #282828;
}

input[type="checkbox"]:checked + .slider:before {
  transform: translateX(26px);
}
