  body {
    margin:0;
  }

  
  .me{
    height:50px;
    transform: scaleX(-1);
    padding:2px;
  }

  .footer {
    position: fixed;
    bottom: 0px;
    height: 60px;
    line-height: 60px;

  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
    width:100%;
  }
  
  code {
    font-size: 80%;
  }
  .container{
    height:100%;
  }


  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
  }
 
  .osu {
    color:white;
    background-color: rgb(231, 107, 128);
    width:30px;
    height:30px;
    padding:5px 0 5px;
    border-radius: 50%;
    line-height: 18px;
    font-size: 10px;
  }

  .download_link:hover{
    color:white;
    text-decoration: none;
    text-underline-position: 10px;
  }