  @import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "JetBrains Mono", monospace;
    background-color: #fbf1c7;
    font-size: 1rem;
  }

  /* Media query for smaller screens */
  @media (max-width: 767px) {
    body {
      font-size: 0.875rem;
    }
    h1 {
      font-size: 2rem;
    }
  }

  /* Media query for larger screens */
  @media (min-width: 1080px) {
    body {
      font-size: 1.125rem;
    }
    h1 {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 1.75rem;
    }
  }

  .flex_main {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  @media (min-width: 800px) {
    .info {
      flex-basis: 33.33%;
      justify-content: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      box-sizing: border-box;
    }
    .text {
      flex-basis: 66.66%;
      box-sizing: border-box;
    }
  }

  .info img {
    width: 7rem;
    border-radius: 80px;
    padding: 2px;
    margin: 2px;
  }

  .me {
    height: 50px;
    transform: scaleX(-1);
    padding: 2px;
  }

  .footer {
    position: fixed;
    bottom: 0px;
    height: 60px;
    line-height: 60px;
  }

  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    justify-items: center;
  }

  code {
    font-size: 80%;
  }
  .container {
    height: 100%;
    width: 100%;
    justify-content: center;
  }

  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
  }

  .osu_logo {
    color: white;
    background-color: rgb(231, 107, 128);
    width: 30px;
    height: 30px;
    padding: 5px 0 5px;
    border-radius: 50%;
    line-height: 18px;
    font-size: 10px;
  }

  .download_link:hover {
    color: white;
    text-decoration: none;
    text-underline-position: 10px;
  }

  .easy {
    width: 100%;
    background-color: #aff000aa;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 2px;
  }

  .normal {
    width: 100%;
    background-color: #fffc36aa;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 2px;
  }

  .hard {
    width: 100%;
    background-color: #ffae00aa;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 2px;
  }

  .insane {
    width: 100%;
    background-color: #ff0000aa;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 6px;
    margin: 2px;
  }

  .slider {
    display: none;
  }

  h1 {
    border-bottom: solid 2px;
  }
  .post-list {
  }
  .post {
    padding: 20px 0;
    align-content: center;
    justify-content: center;
  }
  .post a {
    text-decoration: none !important;
    text-align: right;
  }
  .post h2 {
    min-width: 100%;
    border-bottom: none;
    line-height: 3rem;
  }
  .post .date {
    font-style: italic;
    color: var(--fg3);
  }
  .post p {
  }
