html{
    width:100%;
    max-height: 100%;
    font-size:2vw;
    font-family: sans-serif;
}

a{
    font-style: none;
    text-decoration:none;
    color:#000000;
}


a:checked{
    color:#FF0000;
}
body{
    margin: 0;
    background-color:black;
}

#menu{
    max-height: 70px;
    width: 100%;
    border-bottom:2px solid red;
    font-size:2.5vw;
    
    background: rgb(255,0,0);
    background: -moz-linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(128,0,0,0.5) 50%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(128,0,0,0.5) 50%, rgba(0,0,0,0) 100%);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(128,0,0,0.5) 50%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#000000",GradientType=1);
}
#menu img{
    max-height: 70px;
}

#menu a:hover{
    background-color: #303030;
    color:red;
}

#left_menu{
    padding-top:2px;
    display:inline;
    width:content;
    min-height: 100%;
    background-color: #000000AA;
}

#left_menu li{
    padding-left:0;
    color:red;
}

#content{
    background-color: black;
    min-height:100%;
    width:100%;
    color:white;
}

#content_skins p{
    border: 2px solid  #FF0000;
    width:content;
    height:25%;
    background-color: black;
    color:white;
}

#content_skins a{
    margin:0;
    padding:0;
    display:inline;
    color:#FF0000;
}

#content_skins a:hover{
    background-color: #303030;
    color:red;
}

#content_skins img{
    max-width:100%;
    height:auto;
}

#bottom{
    width: 100%;
    height:25px;
    display:block;
}